<configuration>
    <property name="applicationName" value="Test Service 3"/>
    <property name="applicationLogName" value="test_service_3"/>
    <property name="logPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS, PST} %-5level - %logger{36}\\(%line\\) - ACMS | ${applicationName} | %X{method} | %X{transactionId} | %X{workflow} \n  -| %msg%n"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${applicationLogName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${applicationLogName}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>